/*top nav*/
/*.nav{
  background-color: #131313;
  position: fixed;
  width:100%;
}

.nav ul{
  list-style: none;
}

.nav ul li{
    display: inline-block;
    clear: left;
}*/

/*.nav ul li a{
  display: block;
  color: #ffffff;
  font-size: 1em;
  margin: 0 50px 0 50px;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
  text-decoration: none;
}

.nav ul li a:hover{
  color: #a8d6ee;
  text-decoration: none;
}*/

/*menu icon*/
/*.banner{
  background-image: url('/assets/profile.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  padding: 10% 0 0 0;
  }*/

.about{
  padding: 2% 0 2% 0;
  background-color:white;
}

.icon-linkedin{
  float: left;
  padding: 3%;
}

.icon-doc-inv-1{
  float: left;
  padding: 3%;
}

.intro{
  padding: 0 10% 0 10%;
}

/*.projects{
  height: 200px;
  background-color:blue;
}*/

.panel{
  display:none;
}

.footer{
  overflow: hidden;
  background-color: black;
}

.footer p:nth-child(2){
  color: #eee;
  text-align: right;
  top: 100em;
}

.footer a {
  text-decoration: none;
  font-size: 2em;
  color: #eee;
}

/*projects*/
.block{
  list-style-type: none;
  text-align: center;
}

.block li{
  display:inline-block;
  background-color:#eee;
  float: left;
  padding:10px;
  border:1px solid white;
  width: 30%;
}

.block li img{
  opacity: 0.35;
  width: 100%;
  max-height: 200px;
}

.block li div{
  width: 100%;
  position: relative;
}

.block li h2{
  position: absolute;
  font-size: 18px;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.2);
}

.block li p{
  position: absolute;
  font-size: 16px;
  bottom: 0;
  opacity: 0;
}

.block li p:hover{
  opacity: 1;
}

.toggle{
  text-align: center;
  padding: 5% 0 2% 0;
}

.toggle p{
  display:inline-block;
  margin:auto;
  color: white;
  border: 2px solid #aaa;
  background-color:#bbb;
  padding:10px;
  text-shadow: 2px;
}

.project{
  padding: 5%;
}

#projectData{
  overflow:hidden;
}

.skills{
  padding: 5%;
}

.skills p{
  text-align: center;
}

.skills a{
  text-decoration: none;
}

#dataRef{
  padding-left: 2em;
}
