/*parallax*/

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img1 {
    /* The image used */
    background-image:
    url('https://dl.dropboxusercontent.com/u/6512933/wongjon/20170211_143035_4.gif');
    /* Full height */
    min-height: 100%;
}

.img2 {
    /* The image used */
    background-image: url('http://www.freepixels.com/photos/22/med_020206_trdp_masina2.jpg');
    /* Full height */
    height: 50%;
}

.img3 {
    /* The image used */
    background-image: url('http://cdn.wallpapersafari.com/55/19/wn7dGv.jpg');
    /* Full height */
    height: 50%;
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 2em;
  text-align: center;
  color: #FFFFFF;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
