/*parallax*/

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.65;
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img1 {
    /* The image used */
    background-image:
    url('https://lh3.googleusercontent.com/j252E9bAlg1tgSENfDHLv-YYtniaZu0eajn09KKhG0-XO5DvtwqnHKpse8MNMd9_tRwV9TnRyFD5lRcuE0hC_QmjdDpWBipK0WDZothRbwTHAmI2kHkObxJfAoEqJjXVQ_BxYtoPCRkoJ5u8YHJto-kH6veotDYYVsYDnZAYHM3ugDf8cQgriLjCoXWhHXIuhXHaUq0jM6xLu9Ahxwr3ckLWW7ORj-lDE5oXX3_L1ROfThRosapbGTsMF3E6nAC2leKgYWFyOtm8-1RY-JcAaj57LusHUtx3CitPhHUTSouan1Qnhha7o9XZ95bd9Hma-pa0n6vFPDgYcFKTtXiuKswTzZ9LCA9kU75iiDKeZ4OENAqIfmNgi0rh36KWI7-aVGtIwDGBqkKuEs91g_sXwVfp73WhYBMEZzjIb-LhQls3dSGB5Yg5FL7_a1mwPVQWrkwU1j4IOsSHkOavOfMUzP9oE9Ko4i4vvpmHWiVjJ1HyXEsg4V1F29rOyRFJopgZf64t9ivOTssaLbe_GiLyZs5KwtidvVGMCJ4yK-k1UrwZBeRauz9U5Pn9om8CXGieUyHHB7q6iY8Is5nRGQCfvfBaTRHTEl3fGXEeZPo3bBEgso0aEeSQ=w720-h368-no');
    /* Full height */
    min-height: 100%;
}

.img2 {
    /* The image used */
    background-image: url('http://cdn.wallpapersafari.com/66/55/brMOq6.jpg');
    /* Full height */
    height: 50%;
}

.img3 {
    /* The image used */
    background-image: url('http://cdn.wallpapersafari.com/55/19/wn7dGv.jpg');
    /* Full height */
    height: 50%;
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 2em;
  text-align: center;
  color: #FFFFFF;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
